#copyRight{
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    align-items: center;
    padding-top: .66667rem;
    padding-bottom: .66667rem;
    text-align: center;
    color: #919090;
    font-size: .32rem;
}