.ant-modal-content{
    margin:2.2rem 1rem;
    .ant-modal-close{
        right: 3rem;
        top: 8rem;
        color:#fff;
        .ant-modal-close-x{
            font-size:40px;
        }
    }
    .ant-modal-body{
        padding: 0;
        img{
            width: 100%;
        }
    }
}
    
